.edit1 {
  display: flex;
  position: absolute;
  top: 52px;
  left: 20vw;
  background-color: #e7f5f5;
  min-width: 80vw;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.staff-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.staff-card {
  border: 1px solid #e9d2e8;
  border-radius: 10px;
  padding: 20px;
  width: 280px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #e6e3e9;
  transition: transform 0.3s, box-shadow 0.3s;
}

.staff-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}



.image-container img {
  width: 100px;
  height: 100px;
  
}

.edit2 {
  margin-top: 10px;
  font-size: 1.2rem; 
  color: #333;
}

.staff-card h4 {
  margin-top: 8px;
  font-size: 1rem; 
  color: #666;
}

.staff-card p {
  margin-top: 5px;
  font-size: 0.9rem; 
  color: #666;
}

.edit-delete-container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px; 
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem; 
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

.btn-delete {
  background-color: red;
}

.btn-delete:hover {
  background-color: darkred;
}
